* {
    margin: 0%;
}

header, body, main {
    background-color: #ffffff;
}

p {
    color: #148A43;
    margin-left: 7%;
    margin-right: 7%;
    text-align:left;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    text-align: center;
    justify-content: center;
}

.filler {
    position: absolute;
    left: 0px;
    
    height: 50px;
    width: 100%;
      
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 52px;
  }

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13%;
    background-color: #148A43;
    color: white;
    text-align: center;
    z-index: 5;
 }

 .row {
    display: flex;
    margin: 0%;
    padding: 0%;
  }
  
  .column {
    flex: 33.33%;
    height: 13%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
